body {
  color:#fff;
}
body:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  /*background: url("/assets/bg.jpg");
  background-size: cover;
  background-position: 0 60%;*/

}


.navbar {
  width: 100%;
  background: none !important;

  @media(max-width:35em) {
    background: black !important;
  }

  .navbar-toggler {
    cursor:pointer;
    outline:0;
  }

  .nav-link {
    text-transform: uppercase;
    font-weight: bold;
  }

  .nav-item {
    padding:0 1rem;
    z-index: 2;
    color: #fff;
    @media (max-width: 34em) {
      padding: 0;
    }

    .nav-link {
      @media (max-width: 34em) {
        font-weight: normal;
        color:#fff !important;
      }
    }
  }
}


.post-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  //width: 970px;
  a {
    text-decoration: none;
    color: #000;
    .post {
      margin : 20px;
      display: flex;
      flex-direction: column;
      width: 196.5px;
      height: 469px;
      border-radius: 10px;
      background: #ffffff;
      border-color:#f1f1f1;
      .post-header {
        img {
          height: 349px;
          width:196.5px;

        }
      }
      .post-body {
        display: flex;
        flex-direction: column;
        .post-title {
          margin: 5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: large;
          text-align: center;
        }
        .post-interested {
          text-align: center;
          color: #ff3f55;
          height: 50px;
          justify-content: center;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }

  }
}
.card-deck{
}
.card {
  color:black;
  margin: 10px;

}
.card-body{
  padding: 1.25em;
}